.item{
    position: relative;
    max-width: 380px;
    height: 545px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    &:focus,
    &:active{
        outline: none;
    }
}

.title{
    font-size: 50px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #65BBE9;
}

.salesWrap{
    width: 95vw;
    max-width: 1180px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.name{
    font-family: 'SF UI Display';
    font-size: 25px;
    line-height: 150%;
    text-transform: capitalize;
}
.position{
    font-family: 'SF UI Display';
    font-size: 16px;
    line-height: 200%;
}

.experience {
    font-family: 'SF UI Display';
    font-size: 16px;
    line-height: 150%;
}