@font-face {
  font-family: 'SF Regular';
  src: url('/src/statics/fonts/SFUIDisplay-Regular.eot');
  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
  url('/src/statics/fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('/src/statics/fonts/SFUIDisplay-Regular.woff') format('woff'),
  url('/src/statics/fonts/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Light';
  src: url('/src/statics/fonts/SFUIDisplay-Light.eot');
  src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
  url('/src/statics/fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('/src/statics/fonts/SFUIDisplay-Light.woff') format('woff'),
  url('/src/statics/fonts/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Bold';
  src: url('/src/statics/fonts/SFUIDisplay-Bold.eot');
  src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
  url('/src/statics/fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('/src/statics/fonts/SFUIDisplay-Bold.woff') format('woff'),
  url('/src/statics/fonts/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}